In [0]:
spark

In [0]:
configs = {"fs.azure.account.auth.type": "OAuth",
"fs.azure.account.oauth.provider.type": "org.apache.hadoop.fs.azurebfs.oauth2.ClientCredsTokenProvider",
"fs.azure.account.oauth2.client.id": "78c289f7-ce31-472e-b815-da9bf5051993",
"fs.azure.account.oauth2.client.secret": 'o0S8Q~Vbfgn.bnVDdPVJLB7CCa4duamlffjw6cgK',
"fs.azure.account.oauth2.client.endpoint": "https://login.microsoftonline.com/39c700da-2681-40ef-8ea9-4a2a784ba5e4/oauth2/token"}


dbutils.fs.mount(
source = "abfss://tstemperaturedata@tstemperaturedata.dfs.core.windows.net", # contrainer@storageacc
mount_point = "/mnt/temperaturedata",
extra_configs = configs)

In [0]:
%fs
ls "/mnt/temperaturedata"

In [0]:
aug2023 = spark.read.format("csv").option("header",'true').load("/mnt/temperaturedata/rawdata/aug2024.csv")

In [0]:
aug2023.show()

In [0]:
aug2023 = spark.read.format("csv").option("header",'true').load("/mnt/temperaturedata/rawdata/aug2024.csv")
sep2023 = spark.read.format("csv").option("header",'true').load("/mnt/temperaturedata/rawdata/sep2023.csv")
oct2023 = spark.read.format("csv").option("header",'true').load("/mnt/temperaturedata/rawdata/oct2023.csv")
nov2023 = spark.read.format("csv").option("header",'true').load("/mnt/temperaturedata/rawdata/nov2023.csv")
dec2023 = spark.read.format("csv").option("header",'true').load("/mnt/temperaturedata/rawdata/dec2023.csv")
jan2024 = spark.read.format("csv").option("header",'true').load("/mnt/temperaturedata/rawdata/jan2024.csv")
feb2024 = spark.read.format("csv").option("header",'true').load("/mnt/temperaturedata/rawdata/feb2024.csv")
mar2024 = spark.read.format("csv").option("header",'true').load("/mnt/temperaturedata/rawdata/mar2024.csv")
apr2024 = spark.read.format("csv").option("header",'true').load("/mnt/temperaturedata/rawdata/apr2024.csv")

In [0]:
apr2024.show()

+--------+--------------+---------+-------------+-------------+
|District|        Mandal|     Date|Min Temp (°C)|Max Temp (°C)|
+--------+--------------+---------+-------------+-------------+
|Adilabad|Adilabad Rural|01-Apr-24|         28.8|         36.3|
|Adilabad|Adilabad Rural|02-Apr-24|         24.5|         40.6|
|Adilabad|Adilabad Rural|03-Apr-24|         26.8|         41.9|
|Adilabad|Adilabad Rural|04-Apr-24|         28.3|         41.8|
|Adilabad|Adilabad Rural|05-Apr-24|         25.3|         42.1|
|Adilabad|Adilabad Rural|06-Apr-24|         24.4|         41.0|
|Adilabad|Adilabad Rural|07-Apr-24|         25.9|         40.7|
|Adilabad|Adilabad Rural|08-Apr-24|         23.0|         39.2|
|Adilabad|Adilabad Rural|09-Apr-24|         25.6|         38.4|
|Adilabad|Adilabad Rural|10-Apr-24|         21.8|         37.5|
|Adilabad|Adilabad Rural|11-Apr-24|         21.1|         39.5|
|Adilabad|Adilabad Rural|12-Apr-24|         21.8|         30.4|
|Adilabad|Adilabad Rural|13-Apr-24|         23.0|         37.0|
|Adilabad|Adilabad Rural|14-Apr-24|         22.5|         33.4|
|Adilabad|Adilabad Rural|15-Apr-24|         26.1|         39.8|
|Adilabad|Adilabad Rural|16-Apr-24|         25.3|         39.9|
|Adilabad|Adilabad Rural|17-Apr-24|         26.5|         40.8|
|Adilabad|Adilabad Rural|18-Apr-24|         26.2|         43.2|
|Adilabad|Adilabad Rural|19-Apr-24|         29.0|         42.1|
|Adilabad|Adilabad Rural|20-Apr-24|         29.0|         43.7|
+--------+--------------+---------+-------------+-------------+
only showing top 20 rows

In [0]:
aug2023.printSchema()

root
 |-- District: string (nullable = true)
 |-- Mandal: string (nullable = true)
 |-- Date: string (nullable = true)
 |-- Min Temp (°C): string (nullable = true)
 |-- Max Temp (°C): string (nullable = true)

In [0]:
from pyspark.sql.functions import to_date

# Assuming 'date_column' is the column containing the date in string format
aug2023new = aug2023.withColumn('NewDate', to_date(aug2023.Date, 'dd-MMM-yy'))

In [0]:
aug2023.Date = aug2023new

In [0]:
aug2023.show()

In [0]:
from pyspark.sql.functions import to_date
aug2023 = aug2023.withColumn('Date', to_date('Date', 'dd-MMM-yy'))
sep2023 = sep2023.withColumn('Date', to_date('Date', 'dd-MMM-yy'))
oct2023 = oct2023.withColumn('Date', to_date('Date', 'dd-MMM-yy'))
nov2023 = nov2023.withColumn('Date', to_date('Date', 'dd-MMM-yy'))
dec2023 = dec2023.withColumn('Date', to_date('Date', 'dd-MMM-yy'))
jan2024 = jan2024.withColumn('Date', to_date('Date', 'dd-MMM-yy'))
feb2024 = feb2024.withColumn('Date', to_date('Date', 'dd-MMM-yy'))
mar2024 = mar2024.withColumn('Date', to_date('Date', 'dd-MMM-yy'))
apr2024 = apr2024.withColumn('Date', to_date('Date', 'dd-MMM-yy'))

In [0]:
sep2023.printSchema()

root
 |-- District: string (nullable = true)
 |-- Mandal: string (nullable = true)
 |-- Date: date (nullable = true)
 |-- Min Temp (°C): string (nullable = true)
 |-- Max Temp (°C): string (nullable = true)

In [0]:
apr2024 = apr2024.withColumnRenamed("Min Temp (°C)", "Min_Temp")
apr2024 = apr2024.withColumnRenamed("Max Temp (°C)", "Max_Temp")

aug2023 = aug2023.withColumnRenamed("Min Temp (°C)", "Min_Temp")
aug2023 = aug2023.withColumnRenamed("Max Temp (°C)", "Max_Temp")

dec2023 = dec2023.withColumnRenamed("Min Temp (°C)", "Min_Temp")
dec2023 = dec2023.withColumnRenamed("Max Temp (°C)", "Max_Temp")

feb2024 = feb2024.withColumnRenamed("Min Temp (°C)", "Min_Temp")
feb2024 = feb2024.withColumnRenamed("Max Temp (°C)", "Max_Temp")

jan2024 = jan2024.withColumnRenamed("Min Temp (°C)", "Min_Temp")
jan2024 = jan2024.withColumnRenamed("Max Temp (°C)", "Max_Temp")

mar2024 = mar2024.withColumnRenamed("Min Temp (°C)", "Min_Temp")
mar2024 = mar2024.withColumnRenamed("Max Temp (°C)", "Max_Temp")

nov2023 = nov2023.withColumnRenamed("Min Temp (°C)", "Min_Temp")
nov2023 = nov2023.withColumnRenamed("Max Temp (°C)", "Max_Temp")

oct2023 = oct2023.withColumnRenamed("Min Temp (°C)", "Min_Temp")
oct2023 = oct2023.withColumnRenamed("Max Temp (°C)", "Max_Temp")

sep2023 = sep2023.withColumnRenamed("Min Temp (°C)", "Min_Temp")
sep2023 = sep2023.withColumnRenamed("Max Temp (°C)", "Max_Temp")

In [0]:
# Convert string to float in min_temp and max_temp of all months
apr2024 = apr2024.withColumn("Min_Temp", apr2024["Min_Temp"].cast("float"))
apr2024 = apr2024.withColumn("Max_Temp", apr2024["Max_Temp"].cast("float"))

aug2023 = aug2023.withColumn("Min_Temp", aug2023["Min_Temp"].cast("float"))
aug2023 = aug2023.withColumn("Max_Temp", aug2023["Max_Temp"].cast("float"))

dec2023 = dec2023.withColumn("Min_Temp", dec2023["Min_Temp"].cast("float"))
dec2023 = dec2023.withColumn("Max_Temp", dec2023["Max_Temp"].cast("float"))

feb2024 = feb2024.withColumn("Min_Temp", feb2024["Min_Temp"].cast("float"))
feb2024 = feb2024.withColumn("Max_Temp", feb2024["Max_Temp"].cast("float"))

jan2024 = jan2024.withColumn("Min_Temp", jan2024["Min_Temp"].cast("float"))
jan2024 = jan2024.withColumn("Max_Temp", jan2024["Max_Temp"].cast("float"))

mar2024 = mar2024.withColumn("Min_Temp", mar2024["Min_Temp"].cast("float"))
mar2024 = mar2024.withColumn("Max_Temp", mar2024["Max_Temp"].cast("float"))

nov2023 = nov2023.withColumn("Min_Temp", nov2023["Min_Temp"].cast("float"))
nov2023 = nov2023.withColumn("Max_Temp", nov2023["Max_Temp"].cast("float"))

oct2023 = oct2023.withColumn("Min_Temp", oct2023["Min_Temp"].cast("float"))
oct2023 = oct2023.withColumn("Max_Temp", oct2023["Max_Temp"].cast("float"))

sep2023 = sep2023.withColumn("Min_Temp", sep2023["Min_Temp"].cast("float"))
sep2023 = sep2023.withColumn("Max_Temp", sep2023["Max_Temp"].cast("float"))

In [0]:
sep2023.show()

+--------+--------------+----------+--------+--------+
|District|        Mandal|      Date|Min_Temp|Max_Temp|
+--------+--------------+----------+--------+--------+
|Adilabad|Adilabad Rural|2023-09-01|    23.5|    32.8|
|Adilabad|Adilabad Rural|2023-09-02|    24.5|    34.1|
|Adilabad|Adilabad Rural|2023-09-03|    24.5|    36.3|
|Adilabad|Adilabad Rural|2023-09-04|    22.7|    32.7|
|Adilabad|Adilabad Rural|2023-09-05|    22.5|    32.6|
|Adilabad|Adilabad Rural|2023-09-06|    23.2|    32.3|
|Adilabad|Adilabad Rural|2023-09-07|    23.6|    31.7|
|Adilabad|Adilabad Rural|2023-09-08|    24.6|    27.3|
|Adilabad|Adilabad Rural|2023-09-09|    23.2|    29.9|
|Adilabad|Adilabad Rural|2023-09-10|    23.7|    26.2|
|Adilabad|Adilabad Rural|2023-09-11|    23.9|    28.4|
|Adilabad|Adilabad Rural|2023-09-12|    23.8|    31.0|
|Adilabad|Adilabad Rural|2023-09-13|    23.5|    31.8|
|Adilabad|Adilabad Rural|2023-09-14|    23.6|    29.4|
|Adilabad|Adilabad Rural|2023-09-15|    23.9|    29.0|
|Adilabad|Adilabad Rural|2023-09-16|    25.1|    28.1|
|Adilabad|Adilabad Rural|2023-09-17|    23.8|    31.8|
|Adilabad|Adilabad Rural|2023-09-18|    22.5|    34.6|
|Adilabad|Adilabad Rural|2023-09-19|    23.1|    34.9|
|Adilabad|Adilabad Rural|2023-09-20|    23.6|    35.2|
+--------+--------------+----------+--------+--------+
only showing top 20 rows

In [0]:
sep2023.printSchema()

root
 |-- District: string (nullable = true)
 |-- Mandal: string (nullable = true)
 |-- Date: date (nullable = true)
 |-- Min_Temp: float (nullable = true)
 |-- Max_Temp: float (nullable = true)

In [0]:
merged_table = aug2023.unionAll(sep2023)

37332

In [0]:
merged_table = aug2023.unionAll(sep2023).unionAll(oct2023).unionAll(nov2023).unionAll(dec2023).unionAll(jan2024).unionAll(feb2024).unionAll(mar2024).unionAll(apr2024)

In [0]:
merged_table.count()

167688

In [0]:
merged_table.printSchema()

root
 |-- District: string (nullable = true)
 |-- Mandal: string (nullable = true)
 |-- Date: date (nullable = true)
 |-- Min_Temp: float (nullable = true)
 |-- Max_Temp: float (nullable = true)

In [0]:
merged_table.filter(merged_table.Date.isNull())

DataFrame[District: string, Mandal: string, Date: date, Min_Temp: float, Max_Temp: float]

In [0]:
merged_table.coalesce(1).write.mode("overwrite").csv("/mnt/temperaturedata/transformdata", header=True)